.navbar {
  background-color: #102e50;
  height: 60px;
  max-width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: flex-end;
}

.navbar_link_wrapper {
  height: 100%;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_link {
  color: white;
  font-style: normal;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar_link:hover {
  color: grey;
}

.navbar_button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.navbar_button:hover {
  color: grey;
}
